body {
    background-color: 
    pink;
    font-family: noto sans, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 25pt;
    color: lavenderblush;
}
/* tabs */
nav { 
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 1200px;
    border-style: solid;
    border-color: lavenderblush;
    text-align: center;
    background-color: lavenderblush;
}
.nav-link {
    color: thistle;
    padding: 0px 10px;
    font-size: 20pt;
}
a  {
    text-decoration: none;
    color: black;
   
}
/* content */
.content {
    width: 80%;
    background-color: lavenderblush;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1200px;
    border-style: solid;
    border-color: lavenderblush;
}
.introduction {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.project-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.tile {
    flex: auto;
    background-color: lavenderblush;
    box-shadow: 0 2px 4px lavender;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.tile:hover {
    transform: scale(1.05);
}
h2 {
    text-align: center;
    font-size: 15pt;
    color: Black;
}
p {
    text-align: left;
    font-size: 12pt;
    color: black;
}
.project-tiles a {
    font: 20pt;
    text-decoration: none;
}
#Momo, #Sigi {
    display: flex;
    clip-path: circle(35%);

    
}
