
header {
    font-family: 'Noto Sans Display', "sans-serif";
    margin: auto;
}
nav {
    display: flex;
    height: 100px;
    overflow: auto;
    width: 100%;
    position: relative;
    top: 0;
    background-color:#0003b3;
    margin: 0;
    box-shadow: 0 0 5px;

}

body {
    font-family: 'Noto Sans Display', "sans-serif";
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #E0DFD5;
    flex: auto;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
}

section {
    margin: auto;
    background-color: #E0DFD5;

}

footer {
    margin: auto;
    display:flex;
    height: 300px;
    width: 100%;
    justify-content: center;


}
.border-footer {
    margin: auto;
    display:flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
}
.socials {

    width: 45%;
}
.form {
    padding: 15px;
    border-left: solid #0003b3;
    width: 45%;
}
.border-left {
    padding: 15px;
     width: 15px;

}
.border-right {
     padding: 15px;
    width: 15px;
}
.bottom-footer {
    width: 100%;
    padding-top: 15px;

}
.footer-top {
    width: 100%;
    border-top: solid #0003b3;

}


h1 {
    font-style: bold;
    color: #f59be2;
    margin: 0;
    max-height: 100%;
    width: 260px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    font-size: 18px;
    border-radius: 50px;
    background-color:#0004e6;

}   

h2 {
    color: #c293d2;

}
h3 {
        color: #E4B363;
        font-size: 18px;
}
a {
    font-weight: bolder;
    color: #f59be2;
    text-decoration: none;
    font-style: bold;
    font-size: 18px;
}
p {
    color: #071108;
    font-size: 18px;
}
.nav {
    font-style: bold;
    color: #f59be2;
    margin: 0;
    max-height: 100%;
    width: 70%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    font-size: 18px;
    display: inline-block;
    text-align: end;
    background-color:#0003b3;
   


}
.nav a {
    margin: 5px;
    transition: background-color .5s;
    padding: 15px;
    border-radius: 50px;

   
}
.profilephoto {
    max-width: 500px;

}
.description {
    width: 80%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;

}
footer a {
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
}
#Gallery {
    width: 100%;
    min-height: 500px;
    margin: auto;
    background-image: url(../placeholder.JPG);
    background-size: auto 100%;
    text-align: center;
    box-shadow: 0 0 2px #071108;


}
#About {
    width: 90%;
    display: flex;
    flex-direction: row;
    min-height: 500px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 2px #071108;
    background-color: #E0DFD5;

}
#Experience {
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 2px #071108;
    background-color: #E0DFD5;
}
#Projects {
    display: flex;
    width: 90%;
    flex-direction: row;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 2px #071108;
    background-color: #E0DFD5;
    min-height: 500px;
}


#pinklogo {
    margin: 0;
    max-height: 100%;
    padding-left: 20px;
    transition: transform(3s);
}
#profile {
    display: block;
    width: 500px;
    border-radius: 100%;
    clip-path: circle(40%);
    margin: 40px;
}
#resumepreview {
    max-width: 500px;
    border-radius: 15px;
    border: solid #0003b3;

}
.resume {
    max-width: 500px;
    box-shadow: 0 0 2px #071108;
        border-radius: 15px;
        padding: 15px;
        margin: 40px;
        background-color: #071108;


}
.expdescription {
    width: 80%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}
.prodescription {
    width: 80%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;

}
.skill-list{
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    color:#E4B363;
    font-weight: bolder;
    font-size: 20px;
    background-color: #071108;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 2px #071108;
}
li {
    list-style: none;
    margin: 15px;
    background-color: #0004e6;
    border-radius: 50px;
    padding: 10px;
}
ul {
    padding-left: 0;
}

.projectcontent {
    padding: 15px;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    color:#E4B363;
    font-weight: bolder;
    font-size: 20px;
    background-color: #071108;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 2px #071108;
}
.nav a:hover {
    background-color:#0004e6;


}


#pinklogo:hover {
    animation: 3s rotate;
}
@keyframes rotate {
    0% {
        transform:rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
